[submodule "impl/libutility"]
	path = impl/libutility
	url = https://github.com/staticafi/libutility
	branch = main
[submodule "impl/binsalac"]
	path = tools/binsalac
	url = https://github.com/staticafi/binsalac
	branch = main
[submodule "impl/libsala"]
	path = impl/libsala
	url = https://github.com/staticafi/libsala
	branch = main
[submodule "impl/libllvmutl"]
	path = tools/libllvmutl
	url = https://github.com/staticafi/libllvmutl
	branch = main
[submodule "text/template"]
	path = text/template
	url = https://gitlab.fi.muni.cz/xkushpel/fiquill.git
